{% extends "blog/base.html" %}
{% block title %}About BBQ2Go{% endblock %}
{% block content %}
<div class="col-md-8">
    <br>

    <h1>This is a Blog about the BBQ2Go Web Project</h1>
    <h2>BBQ2Go is a concept I deampt up while waiting in line for the best BBQ in the world at Franklin BBQ in Austin Texas. I wanted to bring Texas style BBQ to the Central Pennsylvania area without having people wait in line for hours upon hours. This is the best we have to offer andd we hope you enjoy it. </h2>
</div>
{% endblock content %}
