{% extends "blog/base.html" %}
{% load blog_tags %}
{% load static %}
{% load crispy_forms_tags %}    
{% block title %}Search{% endblock %}
{% block content %}
<!-- Search Column -->
<div class="col-md-8">
    {% if query %}
        <h1>Posts containing "{{ query }}"</h1>
        <h2>
            {% with results.count as total_results %}
                Found {{ total_results }} result{{ total_results|pluralize }}
            {% endwith %}
        </h2>
        {% for post in results %}
            <h2><a href="{{ post.get_absolute_url }}">{{ post.title }}</a></h2>
            {{ post.body|markdown|truncatewords_html:5 }}
            {% empty %}
            <h1>There are no results for your query.</h1>
        {% endfor %}
        {% comment %} <p><a href="{% url "blog:post_search" %}">Search again</a></p> {% endcomment %}
    {% else %}
        <h1>Search for posts</h1>
        <div class="input-group">
            <form method="get">
                {{ form.as_p }}
                <input type="submit" value="Search">
            </form>                
        </div>            
    {% endif %}        
</div>
{% endblock %}